:root {
    --lightBlue: #edf2f5;
    --babyBlue: #96bdd3;
    /*#98d2f9;*/
    --blue: #067eed;
    --darkBlue: #0e3854;
    --x: 0px;
    --y: 0px;
    --blur: 0px;
    --spread: 0px;
    --boxColor: var(--darkBlue);
    --shadowColor: #000000;
}

* {
    margin: 0%;
    padding: 0%;
    text-align: center;
}

body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: var(--darkBlue);
    width: 100%;
}

h1 {
    font: bold 1.5em 'Simplified Arabic', sans-serif;
    color: var(--darkBlue);
    margin: 0.5rem auto;
}

.main-div {
    background: var(--lightBlue);
    border-radius: 25px;
    margin: .5rem auto;
    width: 80%;
    padding: 0;
}

.options {
    background: var(--babyBlue);
    border-radius: 25px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border: 2px solid var(--darkBlue);
    padding: 3% 5% 1% 5%;
}

.selector {
    background: var(--lightBlue);
    border: 2px solid var(--darkBlue);
    border-radius: 25px;
    padding: 0 .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.vl {
    width: 90px;
    border-right: 2px solid var(--darkBlue);
    padding: 0.3rem 0.5em 0.3rem 0.25em;
    margin-right: .6rem;
    /* make it 7rem in hover .6 in regular*/
}

.selector input[type='range'] {
    margin-right: .6rem;
    display: none;
}

.options>hr {
    width: 143%;
    transform: translateX(-15%);
    border: 1px solid var(--darkBlue);
    opacity: 1;
}

@media (min-width: 1150px) {
    .cl {
        width: 200px;
    }
}

.color {
    border: 5px solid var(--darkBlue);
    border-radius: 50px;
    height: 1.5rem;
    width: 1.5rem;
    transform: rotate(45deg);
}

.result {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box {
    background: var(--boxColor);
    width: 230px;
    height: 240px;
    border-radius: 25px;
    box-shadow: var(--x) var(--y) var(--blur) var(--spread) var(--shadowColor);
    margin-bottom: 50px;
}

.copy {
    background: transparent;
    /* padding: 1% 3%; */
    border: 2px solid var(--darkBlue);
    border-radius: 25px;
    margin: 15px;
}

textarea:disabled,
button {
    color: var(--darkBlue);
}

.copy:not(button) {
    border: 1px solid var(--darkBlue);
    padding: 1% 2%;
    width: 510px;
    border-radius: 18px;
}

.copy:not(textarea) {
    width: fit-content;
}

.copy:not(textarea):hover {
    color: var(--lightBlue);
    font-weight: 500;
    background: var(--darkBlue);
}


/*-----------------Copy Btn---------------*/