:root {
    --lightBlue: #edf2f5;
    --babyBlue: #98d2f9;
    --blue: #067eed;
    --darkBlue: #0e3854;
    --x: 0px;
    --y: 0px;
    --blur: 0px;
    --spread: 0px;
    --opacity: 1;
}

* {
    margin: 0%;
    padding: 0%;
    text-align: center;
}

body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: var(--darkBlue);
    width: 100%;
}

h1 {
    font: bold 2em 'Simplified Arabic', sans-serif;
    color: var(--blue);
    margin: 1rem auto;
}

.main-div {
    background: var(--lightBlue);
    border-radius: 25px;
    margin: .5rem auto;
    height: 20em;
    width: 80%;
    padding: 0;
}

.options {
    background: var(--babyBlue);
    border-radius: 25px;
    border: 2px solid var(--darkBlue);
    height: 100%;
    padding: 3% 5%;
}

.selector {
    background: var(--lightBlue);
    border: 2px solid var(--darkBlue);
    border-radius: 25px;
    padding: 0 .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.vl {
    border-right: 2px solid var(--darkBlue);
    padding: 0.3rem 0.5em 0.3rem 0.25em;
    margin-right: 0.6rem;
}


/*-----------------Copy Btn---------------*/